
body{
    width: 100%;
    background: white;
    font-size: 16px;
    height: 100%;
    min-height: 100%; 
    font-family: Charlie Display,
                -apple-system,
                BlinkMacSystemFont,
                Segoe UI,
                Roboto,
                Noto Sans,
                Ubuntu,
                Droid Sans,
                Helvetica Neue,
                sans-serif; 
    margin: 0px;
    box-sizing: border-box;
    
}

/* html,body{
    overflow-x: hidden;
} */

/* navigation bar */
 header{
    background: white; 
    height: 56;
    width: 100%;
    position: relative;
    vertical-align: baseline;
    box-sizing: inherit;



} 

/* navigation bar wrapper */
.nav-bar{
    background: #fff;
    height: 56px;
    width: 100%;

}

.left-bar{
    width: 43%;
    height: 100%;
    align-content: center;
    float: left;
}

a.atlassian-logo{
    width: 100%;
    height: 72px;
}

.left-bar img {
    width: 100%;
    height: 20px;
}

.right-bar{
    height: 100%;
    float: right;
    align-content: center;
}

.right-bar img{
    width: 36px;
    height: 36px;
}

/* Summit 2019 registration */
.container-1{ 
    background-image: url("https://wac-cdn.atlassian.com/dam/jcr:4ad14d09-926b-431d-92c4-339a548b53b3/Summit2019-WACTakeover-MobileHero.png?cdnVersion=ld");
    background-repeat: no-repeat;
    background-color:#172B4D;
    color: white;
    text-align: center;
    width: 100%;
    height: 347px;
    padding: 32px 0 96px 0;
    background-position: bottom left;
    background-size: 100% 75%;
    position: relative;
 
}

.register-now-block{
    height: 270px;
    width: 343px;
    padding: 0px 16px 16px 16px;
    
}

.register-heading-h1{
    font-size: 30px;
    line-height: 40px;
    margin: 0px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 500;
}

p.register-text{
    letter-spacing: 0.3px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
    font-weight: 400px;

}

a.register-link{
    border-radius: 3px;
    font-weight: 500;
    line-height: 38px;
    padding: 0px 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 102px;
    height: 38px;
    border: 1px solid #00C7E5;
    color: #fff;
    
}

/* Jira software cloud intro */
.container-2{
    width: 100%;
    height: 528px;
    position: relative;
    padding: 16px 0px;
    box-sizing: inherit;
    background-color: #F4F5F7;
    margin: 0px;
    text-align: center;
}

.roadmaps-container{
    width: 343px;
    height: 300px;
    min-height: 1px;
    padding: 16px;
    margin: 0px;
}

img.roadmaps-pic{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;

}

/* bottom section */
.c2-bottom{
    width: 343px;
    height: 164px;
    padding: 16px;
   
    text-align: left;

}

.c2-bottom-text
{
    width: 100%;
    height: 110px;
    color: #253858;
  
}

h3.c2-bottom-text-heading{
    width: 100%;
    height: 48px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 14px ;
}
p.c2-bottom-text-desc{
    line-height: 24px;
    margin: 0px;
  
}

.c2-link-container{
    width: 100%;
    height: 30px;
    line-height: 1px; 
    margin-top: 24px ;

}

a.c2-bottom-link{
    border-radius: 3px;
    border: 1px solid  #0052CC;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    padding: 0px 10px;
    display: inline-block;
    color: #0052CC;
    text-decoration: none;

}

/* tools intro */
.container-3{
    padding-top: 16px;
    width: 100%;
    height: 212px;
    text-align: center;
}

.container-3-inner{
    width: 91.5%;
    padding: 64px 16px 16px;
    text-align: center;

}

.tools-heading{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px 0px 14px;
    color: #253858;
    letter-spacing: .3px;
    line-height: 1.4;
    
}

.tools-desc{
    color: #253858;
    font-weight: 400;
    margin: 0px;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.4;

}

/* short themtic break */

.short-hr-container{
    padding: 16px 0px;
    width: 100%;
    box-sizing: border-box;

}
.short-hr-container-inner{
    width: 100%;
    text-align: center;
}
.hr-style{
    background: #0052CC;
    height: 4px;
    width: 140px;
    border: none;
    margin: 0px 101px;


}

/* product column one */

#product-container{
    width: 100%;
    padding: 16px 0px;

}

#product-container-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#product-container-inner{
    width: 100%;
    position: relative;
    padding: 16px 16px 0px 16px;

}

#product-heading{
    width: 91.5%;
}

#product-heading-h3{
    color: #42526E;
    font-size: .875rem;
    letter-spacing: 1px;
    line-height: 1.25;
    font-weight: 700;
    margin: 0px 0px 23px;

}

/* product component: Jira Software */
#product-component{
    width: 91.5%;
    padding-bottom: 41px;
    margin-bottom: 17px;

}
#product-pic-container{
    width: 100%;
    height: 39px;
}

#product-pic{
    height: 23px;
    margin-bottom: 16px;
}

/* product description */

#product-desc{
    width: 100%;
    color: #091E42;

}

#product-desc p{
    color: #091E42;
    width: 100%;
    margin-bottom: 24px;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}

/* learn more link */
#learn-more-container{
    width: 100%;
}

#learn-more-link-container a{
    width: auto;
    color: #0052CC;
    text-decoration: none;
    display: inline-block;
    line-height: 16px;
    
}

#learn-more-link-container a svg{
    width: 11px;
    height: 8px;
    
}

/* various people working */
.vaious-people-working{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.find-other-products-container{
    box-sizing: border-box;
    padding: 0px 16px 96px;
}

.find-other-product-link{
    width: 100%;
}

.find-other-product-link a{
    color: #253858;
    margin-top: 0;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.2;
    margin-bottom: 14px;
    text-decoration: none;
    font-weight: 500;
}

.find-other-product-desc{
    width: 100%;
}

.find-other-product-desc p{
    width: 100%;
    line-height: 24px;
    font-size: 1rem;
    color: #091E42;
}

.find-other-product-desc p a{
    color: #0052CC;
    text-decoration: none;
    
}

/*get started*/

.container-4{
    width: 100%;
    padding: 16px 0px;
    background-color: #F4F5F7;
    text-align: center;
    box-sizing: border-box;
}

.container-4-inner{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

}

.container-4-link-container{
    width: 100%;
    text-align: center;
}

.container-4-link-container a{
    background: #79F2C0;
    border: 1px solid #79F2C0;
    color: #172B4D;
    text-decoration: none;
    padding: 0px 16px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 500;
    height: 40px;
    line-height: 38px;

}


/* team play book */

.container-5{
    width: 100%;
    padding: 32px 0px 16px;
}

.team-playbook-flex-container{
    width: 100%;
}
.team-playbook-img-container{
    width: 100%;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;

}
.team-playbook-img-container-inner{
    width: 91%.5;
}
.team-playbook-img{
    width: 190px;
    height: 168px;
}

.team-playbook-text-link-container{
    width: 91.5%;
    padding: 16px;

}
.team-playbook-text-container{
    width: 91.5%;
    color: #253858;
}

.team-playbook-heading{
    margin: 0px 0px 14px;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.2;
    font-weight: 500;
}
.team-playbook-desc{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 24px;
}

/* long themtic break */
.long-hr-container{
    width: 100%;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
}
.long-hr-style{
    background: #DFE1E5;
    border: 0;
    height: 2px;
    margin: 0;
    padding: 0;
}

/* container 6: powering innovation */
.container-6{
    width: 100%;
    padding: 16px 0;
    text-align: center;


}
.powering-container{
    width: 100%;
    text-align: center;
}
.powering-heading{
    color:#253858;
    font-weight: 500;
}
.powering-img-container{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    height: 136px;
    text-align: center;
   
}
.powering-img-container-inner{
    width: 91.5%;
    height: 100%;
}


.powering-img{
    width: 100%;
    margin-bottom: 16px;
    height: auto;
    max-width: 100%;
}
   
/* container 7: customer */
.container-7{
    width: 100%;
    padding: 16px 0px;
    text-align: center;
}
.customer-flex-container{
    width: 100%;
}
#customer-card-container{ 
    width: 91.5%;
    padding: 16px;
    text-align: center;
}
#customer-card{
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(0,0,0,.1);
}
#customer-img-container{
    width: 100%;
}
#customer-img{
    width: 100%;
    height: 230px;
    margin-bottom: 16px;
    vertical-align: bottom;

}
#customer-text-img-link-container{
    width: 77%;
    padding: 0 40px 40px;
    text-align: left;
}
#customer-text-img-container{
    width: 100%;
}

#customer-comp-pic-container{
    width: 100%;
   
}
#customer-comp-pic{
    width: 192px;
    margin: 18px 0px 26px;

}
#customer-comp-text-container{
    width: 100%;
  
}
#customer-comp-text{
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 400;
}

/* container 8: learn more about our customer */
.container-8{
    width: 100%;
    text-align: center;
    padding: 8px 0 64px;
}

.learn-more-customer{
    width: 100%;
    padding: 16px;
  
}
/* container 9 */
.container-9{
    width: 100%;
    padding: 16px 0;
    box-sizing: border-box;
 

}
.atlassian-flex-container{
    width: 100%;
    box-sizing: border-box;


}
#atlassian-feature-container{
    width: 100%;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;

  
}

#atlassian-feature-container-inner{
    width: 100%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: #F4F5F7;
}

#atlassian-feature-pic-container{
    width: 100%;
    padding: 16px;
    text-align: center;
    box-sizing: border-box;

}
#atlassian-feature-pic{
    width: 99px;
}

#atlassian-feature-text-container{
 
    box-sizing: border-box;
    text-align: left;
    padding: 16px;
}
#atlassian-feature-text{
    font-size: 1rem;
    color: #091E42;
    line-height: 24px;
    font-weight: 400;
  
}

/* container 10: recommended reading */
.container-10{
    width: 100%;
    padding: 16px 0 64px;
    box-sizing: border-box;
}

.container-10-inner{
    width: 100%;
}

.reading-intro-container{
    widows: 100%;
    padding: 16px 16px 32px;
    text-align: center;
}

/* reading card container */
.reading-card-container{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}

.reading-card-container-inner{
    width: 100%;
}

.reading-icon{
    margin: 0px 16px  16px 0px;
    width: 40px;
    height: auto;

}

.reading-links-container{
    width: 100%;
    box-sizing: border-box;
    padding-left: 46px;
    text-align: left;

}
.h3-heading{
    color: #253858;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.2;
    margin: 0px 0px 14px;
    width: 100%;
}

ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li{
    width: 100%;
    margin-bottom: 24px;

}

ul li a {  
    font-size: 1rem;
    text-decoration: none; 
    color: #0052CC;

}
/* footer */
footer{
    width: 100%;
    padding-top: 16px;
    box-sizing: border-box;
    background-color: #F4F5F7;
}
.footer-top-container{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.footer-top-container-inner{
    width: 100%;
    
}
.footer-img-container{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.footer-img{
    width: 125px;
    height: auto;
    margin-bottom: 16px;
}

.footer-top-resource-container{
    width: 50%;      
    padding: 16px;
   
    
}

.h3-heading-footer{
    color: #42526E;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px 0px 24px;
    font-weight: 700;
}

.li-footer-style{
    margin: 0 0 8px;  
    display: inline-block;
}

ul .li-footer-style a{
    color: #42526E;
    font-size: .875rem;
    line-height: 1.125;
}

.footer-top-blue-link{
    font-size: .875rem;
    line-height: 1.125;
    color: #0052CC;
    text-decoration: none;
    display: inline-block;
    margin-top: 24px;
}

.footer-bottom-container{
    border-top: 1px solid #DFE1E5;
    width: 100%;

}
.footer-bottom-container-inner{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.lang-select{
    color: #42526E;
    font-size: .875rem;
    line-height: 1;
    margin: 0;

}
/* bottom section excluding social media icons */
p a {
    text-decoration: none;
    color: #42526E;
}

/* social icons */
.social-icons{
    width: 100%;

}